@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Moderne, serifenlose Schrift */
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* Schwarz */
    color: white; /* Weiße Schrift */
    padding: 10px 20px;
}
header a {
    color: white; /* Weiße Links im Header */
    text-decoration: none;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 40px;
}
h1 {
    color: #333;
}
.image-frame img {
            border: 5px solid #4CAF50;
            border-radius: 10px;
            max-width: 100%;
            height: auto;
        }
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button-container a {
    background-color: #005b99; /* Helleres Naviblau */
    color: white; /* Weiße Schrift */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    max-width: 200px;
    margin: 0 auto; /* Zentriert die Buttons */
}
.button-container a:hover {
    background-color: #004080; /* Dunkleres Naviblau beim Hover */
}
.button-container a.red-button {
    background-color: #ff0000; /* Rot */
}
.button-container a.red-button:hover {
    background-color: #cc0000; /* Dunkleres Rot beim Hover */
}
footer {
    background-color: #000; /* Schwarz */
    color: white; /* Weiße Schrift */
    text-align: center;
    padding: 10px 0;
}
footer a {
    color: white; /* Weiße Links im Footer */
    margin: 0 10px;
    text-decoration: none;
}
